@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary: #f18026;
  --secondary: #2f7cef;
  --third: #fcc21d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  padding: 20px;
}

.hero__title {
  font-size: 42px;
  color: var(--secondary);
  line-height: 1.1;
  margin-top: 1rem;
}

.hero__text {
  margin-top: 1rem;
  font-size: 20px;
}

.hero__btn {
  color: var(--primary);
  background-color: white;
  height: 60px;
  width: 100%;
  margin-top: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s;
  border: 3px solid var(--primary);
  font-size: 24px;
}

.hero__btn:hover {
  border: 3px solid transparent;
  background-color: var(--primary);
  color: white;
}

.right {
  width: 100%;
}

.hero__img {
  width: 100%;
  margin-top: 2rem;
}

.inputInfo {
  margin-top: 3rem;
}

.inputInfo__title {
  font-size: 24px;
  color: var(--secondary);
}

.card {
  padding: 2rem;
  background-color: var(--secondary);
  color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.card__text {
  font-size: 22px;
  margin-top: .8rem;
  font-weight: bold;
}

.card__input {
  font-size: 22px;
  padding: 12px 8px;
  margin-top: .4rem;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #f9f9f9;
}

.inputInfo__btn-box {
  display: flex;
  gap: 1rem
}

.inputInfo__btn {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 24px;
  height: 60px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s;
  font-family: 'Montserrat', sans-serif;
}

.results {
  margin-top: 3rem;
}

.results__title {
  color: var(--secondary);
}

.card--yellow {
  background-color: var(--third);
  & .card__text {
    color: var(--secondary);
  }
}

input:disabled {
  color: #000
}

.grayout {
  background-color: #d1d5db;
}

@media (min-width: 900px) {

  body {
    padding: 32px 120px;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .hero__title {
    margin-top: 32px;
  }
  .hero__text {
    margin-top: 2rem;
    max-width: 550px;
  }
  .hero__btn {
    max-width: 400px;
    margin-top: 2rem;
  }
  .card {
    max-width: 800px;
  }
}